<h1>Listing questions</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Made at</th>
    <th>Answer</th>
    <th>Answered at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.content %></td>
    <td><%= question.made_at %></td>
    <td><%= question.answer %></td>
    <td><%= question.answered_at %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>
