<!--sidebar?-->
<?php if(logged_in() === TRUE):?>
<div id="panel-menu">
	<div id="panel-menu-content">
	<h2><?php echo anchor('admin/dashboard', 'Mi nouian');?></h2>
	<ul>
	<li><?php echo anchor('logout', 'Cerrar sesión'); ?></li>
	</ul>
	<div id="item-panel">
	<h2>Mis Compras</h2>
	<ul>
	<li><?php echo anchor('admin/orders/my_orders', 'Mis compras');?></li>
	</ul>
	</div><!--Termina item-panel=-->
	<?php if(user_group('editor') === TRUE):?>
	<div id="item-panel">
	<h2>Mis Ventas</h2>
	<ul>
	<li><?php echo anchor('admin/orders/my_sells', 'Mis ventas');?></li>
	<li><?php echo anchor('shops/my_shop', 'Mis Articulos en venta');?></li>
	<li><?php echo anchor('shops/edit_shop', 'cambiar imagen de mi tienda');?></li>

	</ul>
	</div><!--Termina item-panel=-->
	<?php endif;?>
	<div id="item-panel">
	<h2>Mis Preguntas</h2>
	<ul>
   <li><?php echo anchor('questions/i_made', 'Realizadas')?></li>
	<li><?php if(user_group('editor') === TRUE) { echo anchor('questions/made_to_me', 'Recibidas'); } ?></li>
	</ul>
	</div><!--Termina item-panel=-->
	<div id="item-panel">
	<h2>Mis Datos</h2>
	<ul>
	   <?php if(! _has_profile(get_user(username())) ): ?>
	      <p class="atention">Parece que no has completed del todo tu registro…</p>
      	<li><?php echo anchor("profiles/create_new", "completar");?></li>
      <?php else:?>
         <?php $user = get_user(username());?>
         <li><?php echo anchor("profiles/show/".$user->profile->id, "ver perfil publico");?></li>
         <li><?php echo anchor("profiles/edit/".$user->profile->id, "cambiar informacion de perfil");?></li>
      <?php endif;?>
	</ul>
	</div><!--Termina item-panel=-->
	</div>

</div>	<!--Termina panel menu=-->
<?php else:?>
<?php endif;?>
<!--end sidebar?-->