<h1>Listing profiles</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Address</th>
    <th>Telephone</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Postal code</th>
    <th>Total boughts</th>
    <th>Total sales</th>
    <th>Positive as seller</th>
    <th>Negative as seller</th>
    <th>Positive as buyer</th>
    <th>Negative as buyer</th>
    <th>Overall seller</th>
    <th>Overall buyer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.first_name %></td>
    <td><%= profile.last_name %></td>
    <td><%= profile.address %></td>
    <td><%= profile.telephone %></td>
    <td><%= profile.city %></td>
    <td><%= profile.state %></td>
    <td><%= profile.country %></td>
    <td><%= profile.postal_code %></td>
    <td><%= profile.total_boughts %></td>
    <td><%= profile.total_sales %></td>
    <td><%= profile.positive_as_seller %></td>
    <td><%= profile.negative_as_seller %></td>
    <td><%= profile.positive_as_buyer %></td>
    <td><%= profile.negative_as_buyer %></td>
    <td><%= profile.overall_seller %></td>
    <td><%= profile.overall_buyer %></td>
    <td><%= link_to 'Show', profile %></td>
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Profile', new_profile_path %>
