<% if @user.profile.nil? %>
<h1>Bienvenido, porfavor completa tu perfil!</h1>
<%= link_to "Completa tu perfil",  new_profile_path, :class => "btn btn-primary btn-large" %>
      
    

<% else %>
	<%= render :partial => 'sidebar' %>
		<h1> Hola <%= @user.profile.first_name %>, Resumen </h1>
		<?php if( $shop = _has_shop(username())):?>
		<?php if($shop->credit->ammount < 3):?>
		<div id="importante">
		<div id="importante-content">

			<h1> ¡Importante!</h1>
			<ul>
			<li>Tu credito Nouian esta por agotarse <a>¡Compra ahora y te regalamos el doble!</a></li>
			<li>Antes de vender te sugerimos leer esta <a>guia.</a></li>
			<li>Comienza a vender ahora y obten <a>GRATIS $100 pesos de credito Nouian.</a></li>
			</ul>
		</div>
		</div>
        <?php endif;?>
			<ul>
			<li>Credito Nouian: <span id="nouian-highlight">$<?php echo $shop->credit->ammount;?></span></li>
			<li>Ventas del mes: <span id="nouian-highlight">$2,850.00</span></li>
			</ul>
       <?php endif;?>
		<h2> Mis Ventas Resumen</h2>
			<ul>
			<li>Has vendido 4 articulos en las ultimas 2 semanas</li>
			<li>Tienes 8 ventas por calificar</li>
			<li></li>
			</ul>
		<h2> Mis Compras Resumen</h2>
			<ul>
			<li>Tienes 2 compras por calificar</li>
			<li></li>
			</ul>
		<h2> Mis Preguntas Resumen</h2>
			<ul>
			<li>Han respondido 3 de tus preguntas</li>
			<li>Tienes 4 nuevas preguntas ¡Respondelas!</li>
			<li></li>
			</ul>



<h1>HOLA!</h1>
<% if has_shop(@user) %>
	<h1><%= @user.profile.shop.ammount %></h1>
<%end%>
<% end %>