<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @profile.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @profile.last_name %>
</p>

<p>
  <b>Address:</b>
  <%= @profile.address %>
</p>

<p>
  <b>Telephone:</b>
  <%= @profile.telephone %>
</p>

<p>
  <b>City:</b>
  <%= @profile.city %>
</p>

<p>
  <b>State:</b>
  <%= @profile.state %>
</p>

<p>
  <b>Country:</b>
  <%= @profile.country %>
</p>

<p>
  <b>Postal code:</b>
  <%= @profile.postal_code %>
</p>

<p>
  <b>Total boughts:</b>
  <%= @profile.total_boughts %>
</p>

<p>
  <b>Total sales:</b>
  <%= @profile.total_sales %>
</p>

<p>
  <b>Positive as seller:</b>
  <%= @profile.positive_as_seller %>
</p>

<p>
  <b>Negative as seller:</b>
  <%= @profile.negative_as_seller %>
</p>

<p>
  <b>Positive as buyer:</b>
  <%= @profile.positive_as_buyer %>
</p>

<p>
  <b>Negative as buyer:</b>
  <%= @profile.negative_as_buyer %>
</p>

<p>
  <b>Overall seller:</b>
  <%= @profile.overall_seller %>
</p>

<p>
  <b>Overall buyer:</b>
  <%= @profile.overall_buyer %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
