<h1>Listing orders</h1>

<table>
  <tr>
    <th>Quantity</th>
    <th>Total</th>
    <th>Made at</th>
    <th>Completed</th>
    <th>Buyer rate</th>
    <th>Seller rate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.quantity %></td>
    <td><%= order.total %></td>
    <td><%= order.made_at %></td>
    <td><%= order.completed %></td>
    <td><%= order.buyer_rate %></td>
    <td><%= order.seller_rate %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
