<p id="notice"><%= notice %></p>

<p>
  <b>Quantity:</b>
  <%= @order.quantity %>
</p>

<p>
  <b>Total:</b>
  <%= @order.total %>
</p>

<p>
  <b>Made at:</b>
  <%= @order.made_at %>
</p>

<p>
  <b>Completed:</b>
  <%= @order.completed %>
</p>

<p>
  <b>Buyer rate:</b>
  <%= @order.buyer_rate %>
</p>

<p>
  <b>Seller rate:</b>
  <%= @order.seller_rate %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
