<div class="control-group">
    <%= f.label :product_images, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :product_images, :class => 'text_field' %>
    </div>
  </div>