<%- model_class = @product.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @product.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:quantity) %>:</strong></dt>
  <dd><%= @product.quantity %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @product.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @product.price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:featured) %>:</strong></dt>
  <dd><%= @product.featured %></dd>
  <dt><strong><%= model_class.human_attribute_name(:material) %>:</strong></dt>
  <dd><%= @product.material %></dd>
  <dt><strong><%= model_class.human_attribute_name(:finished) %>:</strong></dt>
  <dd><%= @product.finished %></dd>
  <dt><strong><%= model_class.human_attribute_name(:color) %>:</strong></dt>
  <dd><%= @product.color %></dd>


  <dt><strong>Imagenes:</strong></dt>
  <% if ! @product.product_images.nil? %>
    <% @product.product_images.each do |image| %>
    <dd><%= image_tag image.product_photo.url(:thumb) %></dd>
    <%end %>
  <%end %>

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              products_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_product_path(@product), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              product_path(@product),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
