<h1>Listing rates</h1>

<table>
  <tr>
    <th>Value</th>
    <th>Comment</th>
    <th>Completed</th>
    <th>Reason</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rates.each do |rate| %>
  <tr>
    <td><%= rate.value %></td>
    <td><%= rate.comment %></td>
    <td><%= rate.completed %></td>
    <td><%= rate.reason %></td>
    <td><%= link_to 'Show', rate %></td>
    <td><%= link_to 'Edit', edit_rate_path(rate) %></td>
    <td><%= link_to 'Destroy', rate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rate', new_rate_path %>
