<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @rate.value %>
</p>

<p>
  <b>Comment:</b>
  <%= @rate.comment %>
</p>

<p>
  <b>Completed:</b>
  <%= @rate.completed %>
</p>

<p>
  <b>Reason:</b>
  <%= @rate.reason %>
</p>


<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
