<!DOCTYPE html>
<html>
<head>
  <title>NouianRails Backend!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Nouian</a>
        <div class="nav-collapse">
          <ul class="nav">            
            <li><%= link_to "Exploarar Productos", products_path %></li>
            <li><%= link_to "Explorar Tiendas", shops_path %></li>
            <% if user_signed_in? %>
              <% if current_user.profile.shop.nil? %>
                <li><%= link_to "Vende", new_shop_path %></li>            
             <% else %>
               <li><%= link_to "Vende", new_product_path %></li>            
             <% end %>
            <%end %>
             <li><%= link_to "Contactanos" %></li>
          

            <ul class="nav pull-right">
                  <li id="fat-menu" class="dropdown">
                    <% if user_signed_in? %>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email%>
                      <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><%=link_to "Panel", panel_url %></li>
                      <li class="divider"></li>
                      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                    </ul>
                    <% else %>
                     <%= link_to "sign in", new_user_session_path  %>
                    <% end %>
                  </li>
                </ul>
            
          </ul>
        </div>
      </div>
    </div>
  </div>

    <div role="main">
     <div id="content">
        <div id="contenido">  
          <div id="containers">
            <% flash.each do |k, v| %>
              <div id="<%= k %>"><%= v %></div>
            <% end %> 
            <%= yield %>
          </div><!--Termina container=-->  
        </div> <!--Termina contenido=-->  
    </div><!--end content=-->
  <div class="clear"></div>
  <div id="footer">
          <div id="menufooter">
          <ul>
            <li><a href="javascript:void(0)">Acerca</a></li>
            <li><a href="javascript:void(0)">Blog</a></li>
            <li><a href="javascript:void(0)">Ayuda</a></li>
            <li><a href="javascript:void(0)">Terminos</a></li>
          </ul>
          </div>
          <span>Nouian © 2012</span>
  </div> <!--end footer=--> 
</body>
</html>
